body
{
    margin:0;
}

header{
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin:none;
    justify-self: center;
}

.hinput{
    height: 4vh;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 25px;
}



.operations{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center ;
}

.main{
    height: 10vh;
    width: 97%;
    background-color: red;
    font-size: 150%;
    border-width: 0px;

    /* text-overflow: ellipsis;
    white-space: nowrap;
    overflow:hidden; */
}


.opr{
    height: 5vh;
    width: 10vw;
    background-color: greenyellow;
    font-size: 250%;
    text-align: center;

}

.resultcontainter{
    display: flex;
    justify-content: center;
    height: 15vh;
}
.result{
    width: 90%;
    height: 10vh;
    background-color: aqua;
    font-size: 150%;
    
}

.keypad{
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10vw 10vw 0 0;
    display: flex;
    justify-content: center;
    padding: 10% 0%;
    height: 50vh;

}
.grid-container{
    
    display: grid;
    width: 100%;
    background-color: violet;
    grid-gap: 5px;
    grid-template-columns: auto auto auto auto;


}

.grid-item{

    background-color: crimson;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    width: 100%;
}
.item17{
    grid-column: 1 / span 2;
}
.item18{
    grid-column: 3 / span 2;
}
