body
{
    margin:0;
}

header{
    display: flex;
    justify-content: center;
    background-color: aqua;
    margin:none;
    justify-self: center;
}

.hinput{
    height: 4vh;
    width: 100%;
    font-size: 25px;
}



.operations{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-around;
    align-items: center ;
}

.main{
    height: 23vh;
    width: 100%;
    background-color: red;
    font-size: 10vw;
    border-width: 0px;
    text-align: right;
    /* text-overflow: ; */
    overflow:scroll; 
}

.main:focus{
    outline-width: 0
}


.resultcontainter{
    display: flex;
    justify-content: center;
    height: 15vh;
}


.keypad{
    width: 100%;
    background-color: antiquewhite;
    border-radius: 10vw 10vw 0 0;
    display: flex;
    justify-content: center;
    padding: 10% 0%;


}
.grid-container{
    
    display: grid;
    width: 100%;
    background-color: violet;
    grid-gap: 2px;
    grid-template-columns: auto auto auto auto;
    height: 61vh;


}

.grid-item{

    background-color: crimson;
    justify-content: center;
    align-items: center;
    font-size:  50px;
    width: 100%;
    border: none;
}